*, *::before, *::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

#orderhistory {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
}

