<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Contacts - Brand</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap"
    />
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css" />
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="../assets/fonts/line-awesome.min.css" />
    <link
      rel="stylesheet"
      href="../assets/fonts/fontawesome5-overrides.min.css"
    />
    <link rel="stylesheet" href="../assets/css/Features-Cards-icons.css" />
    <link
      rel="stylesheet"
      href="../assets/css/Like-Button-for-PanelBear-Analytics.css"
    />
    <link rel="stylesheet" href="../assets/css/Responsive-UI-Card.css" />
  </head>

  <body>
    <nav
      class="navbar navbar-light navbar-expand-md sticky-top navbar-shrink py-3"
      id="mainNav"
    >
      <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/"
          ><span>ECloths</span></a
        ><button
          data-bs-toggle="collapse"
          class="navbar-toggler"
          data-bs-target="#navcol-1"
        >
          <span class="visually-hidden">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse"
          id="navcol-1"
          style="margin-left: 120px; margin-right: 120px"
        >
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a
                class="nav-link"
                href="./index.html"
                style="margin-right: 18px; margin-left: 120px"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="./services.html"
                style="
                  margin-right: 30px;
                  padding-right: 0px;
                  margin-left: 8px;
                  padding-bottom: 0px;
                "
                >AboutUs</a
              >
            </li>
            <li class="nav-item"></li>
            <li class="nav-item">
              <a class="nav-link" href="./pricing.html"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="./contacts.html">ContactUs</a>
            </li>
          </ul>

          <button
            id="orderhistory"
            onclick=""
            class="btn btn-outline-dark btn-sm"
            type="button"
          >
            ORDER HISTORY
          </button>

    </nav>
    <section class="py-5">
      <div class="container py-5">
        <div class="row mb-5">
          <div class="col-md-8 col-xl-6 text-center mx-auto">
            <p class="fw-bold text-success mb-2">Contacts</p>
            <h2 class="fw-bold">How you can reach us</h2>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-6 col-xl-4">
            <div>
              <form class="p-3 p-xl-4" method="post">
                <div class="mb-3">
                  <input
                    class="form-control"
                    type="text"
                    id="name-1"
                    name="name"
                    placeholder="Name"
                  />
                </div>
                <div class="mb-3">
                  <input
                    class="form-control"
                    type="email"
                    id="email-1"
                    name="email"
                    placeholder="Email"
                  />
                </div>
                <div class="mb-3">
                  <textarea
                    class="form-control"
                    id="message-1"
                    name="message"
                    rows="6"
                    placeholder="Message"
                  ></textarea>
                </div>
                <div>
                  <button
                    class="btn btn-primary shadow d-block w-100"
                    type="submit"
                  >
                    Send
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div
            class="col-md-4 col-xl-4 d-flex justify-content-center justify-content-xl-start"
          >
            <div
              class="d-flex flex-wrap flex-md-column justify-content-md-start align-items-md-start h-100"
            >
              <div class="d-flex align-items-center p-3">
                <div class="px-2">
                  <h6 class="fw-bold mb-0">Phone</h6>
                  <p class="text-muted mb-0">+123456789</p>
                </div>
              </div>
              <div class="d-flex align-items-center p-3">
                <div class="px-2">
                  <h6 class="fw-bold mb-0">Email</h6>
                  <p class="text-muted mb-0">info@example.com</p>
                </div>
              </div>
              <div class="d-flex align-items-center p-3">
                <div class="px-2">
                  <h6 class="fw-bold mb-0">Location</h6>
                  <p class="text-muted mb-0">12 Example Street</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="bg-primary-gradient">
      <div class="container py-4 py-lg-5" style="margin-top: -22px">
        <div class="row justify-content-center">
          <div
            class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item"
          >
            <h3 class="fs-6 fw-bold">Company Info</h3>
            <ul class="list-unstyled">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Latest Post</a></li>
              <li>Contact Us</li>
              <li><a href="#">Shop</a></li>
            </ul>
          </div>
          <div
            class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item"
          >
            <h3 class="fs-6 fw-bold">HELP LINKS</h3>
            <ul class="list-unstyled">
              <li><a href="#">Tracking</a></li>
              <li>Order Status</li>
              <li>Delivery</li>
              <li>Shipping Info</li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </div>
          <div
            class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item"
          >
            <h3 class="fs-6 fw-bold">USEFUL LINKS</h3>
            <ul class="list-unstyled">
              <li><a href="#">Special Offers</a></li>
              <li><a href="#">Gift Cards</a></li>
              <li><a href="#">Advertising</a></li>
              <li><a href="#">Terms of Use</a></li>
            </ul>
          </div>
        </div>
        <hr />
        <div
          class="text-muted d-flex justify-content-between align-items-center pt-3"
        >
          <p class="mb-0">© Explore Clothing</p>
          <p class="mb-0">Privacy Terms &amp;&nbsp; Conditions</p>
        </div>
      </div>
    </footer>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
